.caixa-titulo-av {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 42px;
    border-bottom: 2px solid #A5A5A5;
    text-align: center;
}

.caixa-estrelas {
    display: flex;
    justify-content: center;
    column-gap: 3px;
}

.caixa-titulo-av h1 {
    font-size: 3rem;
    color: #ffffff;
    margin: 0 100px;
}

[data-theme="light"] .caixa-titulo-av h1 {
    color: #000;
}

.caixa-titulo-av p {
    font-size: 1.5rem;
    color: #A5A5A5;
    margin: 0 200px;
    margin-bottom: 42px;
}

.container-av {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

h2.titulo-jogos {
    color: #ffffff;
    margin: 50px 390px 30px 390px;
}

.caixa-comentarios {
    width: 1090px;
    margin: 0 auto;
    height: 420px;
    display: flex;
    overflow-x: scroll;
}

.caixa-comentarios::-webkit-scrollbar {
    display: none;
}

.seta-direita-av, .seta-esquerda-av {
    max-width: 100%;
    height: 60px;
    cursor: pointer;
}

.caixa-avaliacao {
    background: none;
    height: 412px;
    width: 342px;
    border: 4px solid #D9D9D9;
    border-radius: 10px;
    flex-shrink: 0;
    margin-right: 20px;
}

.caixa-comentarios .sem-margem {
    margin: 0;
}

.caixa-avaliacao-cima {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
}

.caixa-avaliacao-cima .caixa-estrelas {
    margin-bottom: 15px;
}

.caixa-avaliacao-cima h3 {
    font-size: 1.75rem;
    margin: 15px 0 10px 0;
}

.caixa-avaliacao-baixo {
    height: 295px;
    background: none;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.espacamento {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caixa-avaliacao-baixo h4 {
    font-size: 1.375rem;
    color: #ffffff;
    margin: 30px 20px 0 20px;
}

.caixa-avaliacao-baixo p {
    font-size: 1.25rem;
    color: #A5A5A5;
    margin: 0 20px;
}

.caixa-avaliacao-baixo .nome {
    color: #ffffff;
    text-align: right;
    padding-bottom: 20px;
}

.tibia {
    margin-bottom: 100px;
}

footer {
    margin-top: 100px;
}

/* Estrelas */

.five-pointed-star {
    --star-color: #FF2400;
    margin: 1em auto;
    font-size: 1em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
}

.five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
}

.five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
}


.five-pointed-star2 {
    --star-color: #FF2400;
    margin:1em auto;
    font-size:0.85em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
}

.five-pointed-star2:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
}

.five-pointed-star2:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
}

/* RESPONSIVO */

@media screen and (max-width: 1250px) {

    .caixa-titulo-av {
        max-width: 900px;
    }

    .caixa-titulo-av h1 {
        font-size: 2.75rem;
        margin: 0 80px;
    }

    .container-av {
        max-width: 950px;
        margin: 0 auto;
    }

    .caixa-comentarios {
        width: 850px;
    }


}